@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-hex: #181820;
}

html {
  color-scheme: dark !important;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-hex: #181820;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: var(--background-hex);
}
